@import "./aboutPage.scss";
@import "./addItem.scss";
@import "./app-styles.scss";
@import "./cart.scss";
@import "./home.scss";
@import "./item.scss";
@import "./loginPage.scss";
@import "./nav.scss";
@import "./shop.scss";
@import "./styles.scss";
@import "./userAddItem.scss";
@import "./userPage.scss";
@import "./singleItem.scss";
@import "./checkout.scss";
@import "./formField.scss";
@import "./checkoutForm.scss";
@import "./footballPage.scss";
@import "./applicationForm.scss";
@import "./termsAndConditions.scss";
@import "./confirmationPage.scss";
@import "./currentResidence.scss";
@import "./userApplicationView.scss";
@import "./newHome.scss";
@import "./ItemPreviewed.scss";
@import "./reviewInfo.scss";
@import "./playerProfile.scss";
@import "./pickGear.scss";
@import "./playerRosterCard.scss";
@import "./pickUpGear.scss";
@import "./pickUpTable.scss";
@import "./footballHomePage.scss";
@import "./rules.scss";

*:focus {
  outline: 0;
}

.componentCont {
  width: 90%;
  margin: auto;
}

.pageHeader {
  h2 {
    border-bottom: solid black 3px;
    width: 200px;
    text-align: center;
  }
}
