.footballHomePage {
  display: flex;
  flex-direction: column;
  margin: 10% 0;

  img {
    margin: auto;
  }

  .homePageLink {
    margin: auto;
  }
  button {
    margin: auto;
    background-color: black;
    opacity: 0.9;
    color: white;
    width: 175px;
    border-radius: 10px;
    height: 55px;
    font-size: large;
  }
}
