.footballHomePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10% 0;

  img {
    margin: auto;
  }

  .button {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 25%;
    height: 55px;
    margin: 50px auto;

    a {
      display: flex;
      margin: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 85%;
  }
  .button {
    width: 25%;
  }
}
