.footballHomePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10% 0;
  z-index: -2;
  position: relative;

  img {
    margin: auto;
  }

  .button {
    margin-top: 100px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    z-index: -1;
  }

  .button a {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    display: block;
    position: relative;
    padding: 20px 40px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #2b2b28;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #2b2b28;
    box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #2b2b28;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  a {
    text-decoration: none;
    z-index: 0;
  }

  .button a:active {
    top: 10px;
    background-color: black;

    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #2b2b28;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #2b2b28;
    box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #2b2b28;
  }

  .button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #4a4a48;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  img {
    width: 85%;
  }
  .button {
    width: 250px;
  }
}
