.ItemPreviewCont {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid black 3px;
  border-radius: 15px;
  width: 25%;
  margin: 3%;
  img {
    margin: auto;
    width: 35%;
  }
}
