.nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  position: fixed;
  background: black;
  color: white;
  opacity: 0.9;
  width: 100%;

  .linkHome {
    text-decoration: none;
    color: white;
  }

  .navLogo {
    display: flex;
    justify-content: flex-start;
    img {
      width: 100px;
    }
  }

  .navLinksLeft {
    margin: auto 0;
    width: 30%;
  }
  .navLinks {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin: auto 15px;
  }
}
.links {
  margin: 0 3%;
  text-decoration: none;
  color: white;

  .badge {
    position: absolute;
    top: 25px;
    right: 30px;
    height: 10px;
    width: 5px;
    padding: 5px 10px;
    border-radius: 45%;
    background: red;
    color: white;
    opacity: 75%;
    font-size: 0.7rem;
    .badgeNum {
      color: black;
      position: relative;
      bottom: 17px;
      right: 1px;
    }
  }
}

.imgCont {
  width: 35%;
  display: flex;
  img {
    margin: auto;
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    height: 150px;
  }
}
