.pickGearPage {
  .pickGearHeader {
    margin: 0 5%;
    h2 {
      border-bottom: solid black 3px;
      width: 150px;
      text-align: center;
    }
  }
  .pickGearSubHeader {
    width: 85%;
    margin: 3% auto;
  }
  .pickGearContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
  }

  .pickGearInputs {
    width: 45%;
    height: 150px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    h3 {
      width: 25%;
    }
    span {
      width: 35%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
