.playerDashboardCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .playerOptionsCont {
    display: flex;
    flex-direction: column;

    .playerMenu {
      display: flex;
      flex-direction: column;
      text-align: center;

      .playerOption {
        background-color: lightslategray;
        border: black solid 1px;
        text-decoration: none;
        color: black;
        padding: 2px 0;
        margin: 5px;
      }
    }
  }

  .playerDashTeamCont {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 5% auto;
    .playerTeamAndLogoCont {
      display: flex;
      justify-content: row;
      margin: 0 auto;
      h2 {
        margin: auto 0;
      }
    }

    .playerNextGame {
      margin: 5% auto;
      text-align: center;
      .vsCont {
        margin: auto 0;
        display: flex;
        img {
          padding: 15px;
        }
      }
    }
    img {
      width: 150px;
    }
  }

  .playerDashStats {
  }
}
