.rulesCont {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  margin: auto;
  .rulesHeader {
    margin: 3% auto;
  }

  .rulesSection {
    h3 {
      margin-left: 5%;
      text-decoration: underline 3px;
    }
    ul {
      margin-left: 5%;
    }

    .demo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      h2 {
        text-align: center;
        text-decoration: underline;
      }
      img {
        width: 50%;
        margin: auto;
      }
    }
  }

  .demo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    h2 {
      text-align: center;
      text-decoration: underline;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
}
.rulesDownloadCont {
  text-align: center;
}

@media screen and (min-width: 400px) {
  .rulesCont {
    display: flex;
    .rulesHeader {
      margin: 0 auto;
    }
  }
}
