.termsHeader {
  h2 {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
  }
}
.termsContent {
  width: 75%;
  margin: 5% auto;

  li {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
